<!DOCTYPE html>
<html>
	<head>
		<title>Let's Hang - Main</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://localhost/css/style.css">
		<script src="http://localhost/js/lib/jquery-2.1.1.min.js"></script>
		<script src="http://localhost/js/lib/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfIApUobHr1J1OYNpBIy9D1AL5cfZadgs"></script>
    <script src="http://localhost/socket.io/lib/socket.io.js"></script>
		<script src="http://localhost/js/routes.js"></script>
    <script src="http://localhost/js/map.js"></script>
    <script src="http://localhost/js/newActivity.js"></script>
    <script src="http://localhost/js/message.js"></script>
    <!--<script src="http://localhost:3000/js/facebookAuth.js"></script>-->
	</head>
	<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1472358699701713',
          xfbml      : true,
          version    : 'v2.1'
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  			<div class="container">
    			<div class="navbar-header">
      				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a href="/" class="navbar-brand">Let's Hang</a>
    			</div>
    			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      				<ul class="nav navbar-nav">
        				<li>
          				<button id="activities" class="btn btn-link">Activities</button>
                  <ul class="hidden-list">
                    {{#each activity}}
                      <li><h4>{{name}}</h4></li>
                    {{/each}}
                  </ul>
        				</li>
                <li>
                  <button id="messages" class="btn btn-link">Messages</button>
                  <ul class="hidden-list">
                    {{#each messages}}
                      <li><h4>{{name}}</h4><ul><li>{{sender}}, {{activity.invited}}</li></ul></li>
                    {{/each}}
                    <button id="new-message" class="btn btn-success">New Message</button>
                  </ul>
                </li>
                <li>
                  <button id="locations" class="btn btn-link">Locations</button>
                  <ul class="hidden-list">
                    {{#each location}}
                      <li><h4>{{name}}</h4></li>
                    {{/each}}
                  </ul>
                </li>
      				</ul>
    			</nav>
          <i id="settings-cog" class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#settModal"></i>
          <a id="logout" class="btn btn-link" href="/logout">logout</a>
  			</div>
		</header>
    <div class="container">
      <div id="map-canvas" style="width:100%; height:100%;"></div>
      <div id="newActOverlay">
        <h2>New Activity</h2>
        <form id="newActForm" class="input-group">
          <input id="newActName" class="form-control" type="text" placeholder="Activity Name">
          <input id="newActLoct" class="form-control" type="text" placeholder="Location">
          <input id="startDate" class="form-control" type="date">
          <input id="addDate" class="btn btn-link" type="button" value="More Than One Day">
          <input id="startTime" class="form-control" type="time">
          <input id="addEnd" class="btn btn-link" type="button" value="Add End Time">
          <input id="newActInv" class="btn btn-primary" type="button" value="invite" data-toggle="modal" data-target="#invModal">
          <input id="newActSub" class="btn btn-success" type="submit" value="create">
        </form>
        <button id="overlayShowHide" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></button>
      </div>
    </div>
    {{> invModal}}
    {{> settings}}
  </body>
</html>